.tab-container {
  padding: 10px 0 0;
  margin: -30px 0 0;
}

.pokemon-logo-container {
  max-width: 300px;
  padding: 30px 20px;
  background-color: #00000010;
  border-radius: 5px;
}

.info-container {
  padding: 0 30px 0;

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
  }

  .sub-info {
    font-size: 14px;
    text-transform: uppercase;
  }

  @media (max-width: 960px) {
    text-align: center;
  }
}

.tab-content-container {
  background-color: #f3f1f0 !important;
  min-height: 100vh;
}
